<div class="col-xs-12 myprofile">
	<%= image_tag user.friend.avatar,class:"thumnail_image float_left"%>
	<h2 class="float_left name"><%= user.friend.nickname %></h2>

	<div class="float_right button_area">
        <%= link_to 'フレンドページ',friend_path(user.friend),class:"btn btn-primary button float_right"%>
        <%= link_to '削除',friend_path(user),method: :delete,class:"btn btn-primary button float_right"%>
        <%= form_for talk do |f| %>

            <%= f.hidden_field :user_id%>
            <%= f.hidden_field :friend_id,:value => user.friend.id%>
            <div class="form-group">
                <%= f.submit "トーク", class: "btn btn-primary float_right button little_up" %>
            </div>
        <%end%>
    </div>
</div>