<div class="header_fixed">
       <div class="header">
                  <div class="clear_box">
            <%= link_to "戻る",root_path,class:"float_left header_button btn btn-primary"%>
                  </div>
             <div class="float_left">
                   <h1><%= @friend.nickname %>さんのページ</h1>
             </div>
       </div>
</div>
<div class="add_head">
      <h1>Friend Profile</h1>
</div>
<div class="myprofile">
      <%= image_tag @friend.avatar,class:"thumnail_image float_left"%>
                  <h2 class="float_left name"><%= @friend.nickname %></h2>
</div>
<div class="body box">
  <% @timelines.each do |timeline| %>
      <%= render partial:'timelines/timeline',locals:{timeline:timeline}%>
  <%end%>
</div>
