<div class="col-xs-12 myprofile talk_box">
	<% if talk.friend.id == current_user.id %>
		<%= link_to '',talk_path(talk),class:"link"%>
		<%= image_tag talk.user.avatar ,class:"thumnail_image float_left"%>
		<h2 class="float_left name"><%= talk.user.nickname  %></h2>
	<%else%>
		<%= link_to '',talk_path(talk),class:"link"%>
		<%= image_tag talk.friend.avatar ,class:"thumnail_image float_left"%>
		<h2 class="float_left name"><%= talk.friend.nickname  %></h2>
	<%end%>
	<%= link_to '削除',talk_path(talk),class:"btn btn-primary float_right button little_down",method: :delete%>
</div>